<div class="entry">
  <h4>About</h4>
  <div class="body">
    <strong>webpack-helloworld</strong> is a demo app that features Backbone, Marionette, Handlebars, PureCSS and FontAwesome all bundled together with <a href="http://webpack.github.io/">Webpack</a>.
    <br/>
    Check out the <a href="https://github.com/emaphp/webpack-helloworld">documentation</a> for more.
  </div>
  <br/>
  <div class="list">
  Useful links:
  {{#list libs}}
  <!--include link.hbs-->
  {{/list}}
  </div>
</div>
